doctype html
html(ng-app='endangeredpoetryApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(ng-controller='writePoemController')
    .jumbotron.text-center
    h1 Endangered Poetry
    p Poetry about endangered plants and animals
    .center-div
      .navbar.navbar-default.navbar-fixed-top
        .container
          ul.nav
            .row
              .col-sm-3
                center-li: a(href='/') Home
              .col-sm-6
                 center-li: a(href='/about') About
              .col-sm-9
                 center-li: a(href='/#/writepoem') Add a Poem
              .col-sm-12
                 center-li: a(href='/login') Login
    

  block content

      footer
        .row
          .col-xs-12
            small &copy; HBE

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular/endangeredpoetryApp.js')
    script(src='/javascripts/validation.js')