extends layout

block content
  p This is a page that has a poem
  p a poem with a few lines
  p a few words, a few lines
  p a few paragraphs
  h1= "h1 is a header"
  h2= "h2 is also"
  h3="and h3"
  h4="h4"
  h5 5