extends layout

  head
    title Endangered Species Homepage
  body
    h1 This is the header
    #container.col
      p A paragraph
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
