body {
  padding: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: lightblue;
  

}

a {
  color: #00B7FF;
}


h1, h3 {
    color: rgb(235,235,235);
}

#title {
   text-decoration-line: none;
}

p {
  color: rgb(230,230,230);
/*  font-size: small;
*/}