extends layout

html(lang='en')
  head
    title Endangered Poetry
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
      
    .container
      .row
        .col-sm-4
          h3 Plants
          p Plant poem 1
          p Plant poem 2
        .col-sm-4
          h3 Animals
          p Endangered Animal poem 1
          p Endangered Animal poem 2
        .col-sm-4
          h3 About
          p A little bit of the about page
