doctype html
html(ng-app='endangeredpoetryApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .jumbotron.text-center
    h1 Endangered Poetry
    p Poetry about endangered plants and animals

    ul.nav
      .row
        .col-sm-3
          li: a(href='/') Home
        .col-sm-3
          li: a(href='#news') News
        .col-sm-3
          li: a(href='/about') About
        .col-sm-3
          li: a(href='#contact') Contact

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Home
              span.icon-bar
              span.icon-bar
              span.icon-bar
            #navbar-main.navbar-collapse.collapse
              ol.nav.navbar-nav
                li
                  a(href='/about/') About
                li
                  a(href='/poem') Add a Poem
                li
                  a(href='/poems/:poemid') A poem from the database
    block content

      footer
        .row
          .col-xs-12
            small &copy; HBEJ

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular/endangeredpoetryApp.js')
    script(src='/javascripts/validation.js')